extends index

block partial

    h2(style="color: blue; text-align: center;")="Productos"
    
    if (hayProductos) 
        div(class="table-responsive")
            table(class="table table-dark")
                tr
                    th="Nombre"
                    th="Precio"
                    th="Foto"
                
                each prod in productos
                
                    tr
                        td=prod.title
                        td=prod.price
                        td=prod.thumbnail
                        
       
    else 
        h3(style="color: crimson; text-align: center;")="No hay productos cargados aun"